<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <script src="{{ '/assets/js/libs/ethers-6.15.0.min.js' | relative_url }}"></script>
    
    <script src="{{ '/assets/js/nft-gate.js' | relative_url }}"></script>
    
    <script src="{{ '/assets/js/tableau-details.js' | relative_url }}"></script>
</head>
<body>
    <header>
        </header>

    <main>
        {{ content }} 
    </main>

    <footer>
        </footer>
</body>
</html>